*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*inizio header*/
header{
    background-color: aquamarine;
    height: 40px;
    display: flex;
    justify-content: center;
}
.row-header{
    background-color: yellow;
    display: flex;
    width: calc(60%);
    justify-content: space-between;
    height: calc(80%);
}
.column-header-1{
    width: calc(25%);
    border:1px dashed black;  
}
.column-header-2{
    width: calc(50%);
    border:1px dashed black;  
    text-align: center;
}
.column-header-3{
    width: calc(25%);
    border:1px dashed black;
    text-align: right;
}
/*fine header*/
